@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

input[type="range"]::-webkit-slider-thumb {
  @apply h-2 w-2 border border-white;
}
input[type="range"]::-moz-range-progress {
  @apply bg-white bg-opacity-100;
}

*::-webkit-scrollbar {
  @apply w-1;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-white;
}
*::-webkit-scrollbar-track {
  @apply bg-white bg-opacity-50 rounded-full;
}
* {
  scrollbar-width: theme(width.1);
  scrollbar-color: #fff;
}
